ninja
# yacs
yacs==0.1.8
cython
matplotlib
pycocotools
opencv-python-headless
tqdm
progressbar
protobuf
google-api-python-client
nltk
numpy
pymongo
pandas
tensorflow
tensorboard
tensorboardX
joblib
scikit-image
anytree
regex
ffmpeg-python
av
addict
yapf
easydict
transformers
ipdb
seaborn
gensim
einops
ftfy
flair
toolz
fairscale
packaging